
body {height:100%;
	background:#000;
	padding:0px;
	margin:0px;}

h3 {font-size:18px;
    color:#000;}

.hours h3 {line-height:10px;
    float:left;}

table {border-collapse:collapse;}

td {padding:0px;
	margin:0px;}
	
td.day {width:40%;}
	
td.time {width:60%;
    color:#000;
	text-align:right;}

.container-fluid {min-width:320px;
    max-width:940px;
    background:#fff;
    margin:0 auto;}

.header {height:140px;
	padding:10px 0px;}
	
.logo img {width:170px;}

.cards {float:right;
    margin-top:4px;}

.navbar-inner {background:none;
    padding:0px;
    border:none;
	border-radius:0px;
    box-shadow:none;
    -webkit-box-shadow:none;}
	
.nav li {width:90px;
    text-align:center;}

#used-nav {width:110px;}

.btn-title, .dropdown-icon {float:left;}

.btn-title {color:#000;
    padding-left:30px;
    margin-top:-3px;}

.navbar-inverse .btn-title {color:#fff;}

.navbar-inverse .dropdown-icon {float:right;}
 
#main-navbtn {display:none   !important;}

.content {padding-bottom:30px;}

.content ul {list-style:none;}

.phone-info {text-align:center;}

.span4 {max-width:297px;
    font-weight:bold;
    padding:20px;}

.span4 img {width:257px;
    margin-bottom:20px;}

.span4 span {float:right;}

.span7 ul {font-size:20px;}

.coupon {max-width:330px;
    min-height:190px;
    border:3px dotted #000;
    padding:5px;
	margin:0px auto 20px auto   !important;}

.coupon img {width:42%;
    margin:0px 5px 5px 0px;}

.coupon div {text-align:center;
    display:block;
    margin-right:10px;}

.coupon h4 {float:right;
    margin:20px 0px;}

.list-head {font-size:20px;
    padding:0px 0px 10px 0px;}

.list-item {color:#000;
    padding:10px 0px 10px 10px;}

.sub-list li {font-size:14px;
    color:#666;
    margin:3px 0px;}

span.new-price {float:right;
    font-weight:bold;}

span.reg-price {color:#666;
    font-size:16px;}

.used-nav {color:#666;
    float:right;}

.footer {overflow:auto;
    padding:20px 0px;}
	
.footer p {color:#fff;
    text-align:center;}

@media (max-width: 767px) {
    
    .logo {width: 39% !important;
       float: left !important;
       padding-left:10px;}
    
    .hours {width: 61% !important;
       float: left !important;
       padding-right:10px;}
    
    .content {margin:0px 10px;}
}

@media (max-width: 480px) {
    
    .active {display:none;}
    
    .nav li {width:100%;
        text-align:left;}
  
    .mainnav-collapse {clear:both;}
  
    .mainnav-collapse .nav {margin:0 0 10px;}
  
    .mainnav-collapse .nav,
    .mainnav-collapse .nav > li {float:none;}
  
    .mainnav-collapse,
    .mainnav-collapse.collapse {height:0;
        overflow:hidden;}
  
    .navbar .btn-navbar, #main-navbtn  {display:block  !important;} 
    
    .list-item {font-size:14px;
        margin-left:-10px;}
    
    span.reg-price {font-size:12px;}
    
    .used-nav {font-size:12px !important;}
}