@charset "utf-8";
/* Main Stylesheet - Nicholas Moore 
 * #197365 - Teal; #731953 - Purple; #733819 - Orange; #736519 - Gold
 */

@font-face {
    font-family: myrFont;
    src: url('core/fonts/Gotham-Bold.ttf'),
         url('core/fonts/Gotham-Bold.eot'); /* IE9 */
}

html, body {
    width:100%;
    height:100%;
    font-family: Verdana, Geneva, sans-serif;
    color:#333333;
    padding:0;
    margin:0;
}
	
h1, h2, h3, h4, h5, h6 {
    color:#3c504c;
    font-family:'myrFont', Verdana, Geneva, sans-serif;
}

a:link, a:hover, a:active, a:visited {
    color:#197365;
    font-weight:bold;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}

.left {float:left;}

.right {float:right;}

.hidden {display:none;}
	
#loading {
    width:100%;
    height:100%;
    background:url(img/loading/bg.png);
    position:fixed;
    top:0;
    left:0;
    display:block;
    z-index:10000;
}

    #loading div {
        width:135px;
        height:135px;
        background:url('img/loading/sprite.png') no-repeat;
        background-position:0 0;
        margin:15% auto 0 auto;
    }
	
/* Header */

#userBar {
    width:96%;
    background:#333333;
    color:#ffffff;
    padding:0.5em 2%;
}

    #userBar li {
        display:inline;
        padding:0 1em;
    }
    
    #userBar img {
        width:24px;
    }
    
    #userBar a {
        color:#ffffff;
        font-weight:normal;
    }
    
header {
    width:100%;
    background:#fff;
    font-family:'myrFont', Verdana, Geneva, sans-serif;
    padding:1em 0;
}
	
    #title {
        width:100%;
        display:block;
        font-size:1em;
        font-weight:bold;
    }

        .logo {
            padding-right:0;
        }
        
            .logo img {
                width:100%;
                min-width:75px;
                max-width:135px;
            }
            
            .logo img:hover {
                opacity:0.9;
            }

        #title ul {
            list-style:none;
            padding:0;
            margin:1.3em 0 0 0.4em;
        }

        #titlePhrase {
            color:#355651;
            margin:0 0 0.4em 0.2em;
        }

        #titleBrand {
            color:#3C504C;
            font-size:3em;
            line-height: 0.47em;
            padding:0;
        }

        #titleName {
            color:#048873;
            margin:0.6em 0 0 13em;
        }
	
.progress {
    margin-bottom:0.7em;
}

    .progress .bar {
        height: 100%;
        color: #ffffff;
        font-size: 0.9em;
        line-height: 1.5em;
        text-align:left;
	padding-left:0.7em;
    }
		
    #bar0 {background-color:#651973;}

    #bar1 {background-color:#5B2765;}

    #bar2 {background-color:#513556;}
	
/* Content */

#content {}

#socialBtn {
    float:right;
}

    #socialBtn a:link, #socialBtn a:hover, #socialBtn a:active, #socialBtn a:visited {
        width:35px;
        height:35px;
        background-image:url('core/img/social-media.png');
        background-repeat:no-repeat;
        background-size:140px 35px;
        display:block;
        float:left;
        opacity:0.8;
        margin-right:10px;
    }
    
    #socialBtn a:hover, #socialBtn a:active {
        opacity:1;
    }

.linkedinBtn {
    background-position:0 0;
}

.googleplusBtn {
    background-position:-35px 0;
}

.twitterBtn {
    background-position:-70px 0;
}

.blogBtn {
    background-position:-105px 0;
}

.alert {
    padding:0.8em 1.6em 0.8em 0.8em;
    margin:1em 0;
}

    .alert .close {
        top:-8px;
	right:-14px;
    }

#recentUpdate p, .alert {
    font-size:12px;
    line-height:1.3em;
    text-align:justify;
}
	
#recentUpdate .icon {
    width: 7%;
    min-width:50px;
    background-color:#4f4f4f;
    float:left;
    overflow:hidden;
    display:inline-block;
    position:relative;
    margin:0 10px 5px 0;
    border-radius:5px;
}

    #recentUpdate .icon:after {
        content:"";
        display:block;
        margin-top:100%;
    }

    #recentUpdate .icon div {
        background-repeat:no-repeat;
        background-size:cover;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        opacity:0.4;
    }
	
.login {
    color:#b94a48 !important;
}
	
.login:hover {
    color:#b94a48;
    text-decoration:underline;
}

.twitter iframe {
    height:40em;
}

/* Home Page Menu (Carousel) */

#thoughtBubble {
    width:100%;
    background:url('core/img/cloud.png') repeat-x;
    background-size:327px 100px;
    background-position:bottom;
    overflow:auto;
    padding-bottom:2em;
}

    .menuContainer {
        text-align:center;
        position:relative;
    }

        section {
            width:20%;
            float:left;
            position:relative;
            margin:1.5%;
        }

            section img {
                width:100%;
                opacity:0.5;
            }

        #currentItem {
            width:50%;
            min-height:25em;
        }

            #currentItem img {
                opacity:1;
            }

        .arrows {
            width:131px;
            height:58px;
            background-image:url('core/img/eye-arrow.png');
            background-repeat:no-repeat;
            background-size:262px 58px;
            cursor:pointer;
            position:absolute;
            margin-top:25%;
            z-index:10;
            opacity:0.7;
        }

            .arrows:hover, .arrows:active {
                opacity:1;
            }

            #leftArrow {
                background-position:left;
                left:0;
            }

            #rightArrow {
                background-position:right;
                right:0;
            }

/* Blog */

#blog {
    position:relative;
}

#blogLogo1 {
    max-width:300px;
}

#blogLogo2 {
    float:right;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#blogTag {color:#197365;
    font-weight:bold;
    position:absolute;
    top:135px;
    left:215px;}

#blogMainContent {
    min-height:500px;
    border-right:2px dashed #197365;
}

@media (max-width: 1200px) {
    
    #currentItem {
        min-height:23em;
    }
    
}

@media (max-width: 767px) {
    
    #socialBtn {
        float:none;
        overflow:auto;
    }
    
    #currentItem {
        min-height:20em;
    }
    
    .arrows {
        width:65px;
        background-size:131px 29px;
    }
    
    #blogLogo1 {
        max-width:200px;
    }
    
    #blogLogo2 {
        max-width:100px;
    }
    
    #blogTag {
        top:90px;
        left:150px;
    }
    
    #blogMainContent {
        border-right:none;
        border-bottom:2px dashed #197365;
    }
	
}

@media (max-width: 480px) {
    
    .logo img {
        padding-right:20px;
    }

    #title ul {margin-top:1em;}

    #titlePhrase, #titleName {font-size:0.9em;}

    #titlePhrase {margin:0 0 0.2em 0.1em;}

    #titleBrand {font-size:2em;}

    #titleName {margin:0.1em 0 0 7.3em;}

    #currentItem {
        min-height:15em;
    }
}

@media (max-width: 400px) {
    
    #blogMainTitle {
        width:100%;
    }
    
    #blogLogo2 {
        display:none;
    }
    
}