html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none;}
	
p {color:#FFFFFF;}
 

#page_wrapper{
	padding-top:20%;
	background:#000000;
	overflow:auto;}
			
.content td {
	text-align:justify;}
			
.center {
	text-align:center;
	padding:5% 0%;}

/*-----------------------------
	ORIENTATION CLEVERNESS
-----------------------------*/

#content_portrait, #content_landscape {
	display:none;
	}
.show_portrait {
	width:100%;
	}
.show_landscape {
	width:100%;
	}

.show_portrait #content_portrait, .show_landscape #content_landscape {
	display:block;
	}