/* Women's Club Flag Football */

body {background:url(images/bg.jpg) #A67A00 center fixed repeat-y;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	padding:0px;
	margin:0px;}
	
p, h4 {color:#FFFFFF;
	text-align:justify;}

a {color:#A67A00;
	text-decoration:none;}
	
a:hover {text-decoration:underline;}

img {border:none;}

iframe {width:420px;
	height:315px;
	border:none;}

.container {width:870px;
	height:100%;
	margin:0 auto;}
	
.title {width:810px;
	height:100px;
	background:url(images/logo.png) #293F6F no-repeat;
	padding:10px 30px;}
	
.title h1 {font-size:47px;
	color:#A67A00;
	margin:25px 0px 0px 65px;}
	
.bar {width:100%;
	height:43px;
	background:url(images/bar-bg.jpg) repeat-x;
	position:absolute;
	top:120px;
	left:0px;
	-moz-box-shadow: 0px 5px 10px #333333;
	-webkit-box-shadow: 0px 5px 10px #333333;
	box-shadow: 0px 5px 10px #333333;}
	
.bar ul {width:804px;
	height:14px;
	padding:12px 30px;
	margin:0 auto;}
	
.bar li {width:128px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	list-style:none;
	display:inline-block;
	padding:0px;
	margin:0px;}
	
.ie div.bar li {width:134px;
	float:left;}
	
.bar a:hover {color:#FFFFFF;
	text-decoration:none;}
	
.content {width:810px;
	min-height:500px;
	background:#293F6F;
	padding:30px;
	margin-top:43px;}
	
.ie div.content {min-height:550px;}
	
.header {width:225px;
	height:75px;
	background:url(images/header.png) right no-repeat;
	float:right;
	margin:0px 0px 20px 600px;}
	
.ie div.header {margin-top:35px;}
	
.header h2 {color:#A67A00;
	padding:0px;
	margin:0px;}
	
.ie div.header h2 {font-size:20px;}
	
.footer {width:810px;
	height:60px;
	background:url(images/footer-border.jpg) #293F6F top repeat-x;
	padding:10px 30px 5px 30px;
	-moz-box-shadow: 0px -5px 10px #333333;
	-webkit-box-shadow: 0px -5px 10px #333333;
	box-shadow: 0px -5px 10px #333333;}

/* Slideshow */

.gallery {position:absolute;
	top:300px;}
		
.ie div.gallery {position:relative;
	top:0px;}
		
.slides {width:100%;
	height:500px;
	overflow:hidden;}
		
.slides img {width:600px;
	height:400px;
	padding:3px;
	margin-left:101px;
	border:1px solid #A67A00;}
		
.nav {width:600px;
	padding:540px 0px 30px 105px;}
		
.ie div.nav {padding:0px 0px 20px 105px;
	margin-top:-50px;}