/* SYTLES */

body {background:#FFDF9C;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:76%;
	margin:0;}
	
img {border:none;}
	
#canvas {width:775px;
	height:700px;
	background:#FFFFFF;
	margin:0 auto;
	text-align:left;
	overflow:hidden;}
	
/*Header*/

.header {width:auto;
	height:90px;
	background:url(../images/header-bg.jpg) right no-repeat #FFFFFF;
	padding:0px 15px 0px 20px;}
	
.header ul {padding:0px;
	margin:0px;}
	
.logo {width:323px;
	float:left;
	padding-top:20px;}
	
.top_links_left {float:left;
	color:#20489F;
    font-size:12px;
    font-weight:bold;
    font-style:italic;
	padding-top:5px;}

.top_links_left a:link, .top_links_left a:visited, .top_links_left a:hover {height:5px;
	background:none;
	color:#20489F;
	text-decoration:underline;
	padding:0px;}

.top_links_left ul {list-style:none;}

.top_links_left ul li {padding:2px;}
	
.top_nav {width:223px;
	float:left;
	padding:20px 0px 0px 20px;}
	
.top_links_right {float:right;
	padding-bottom:15px;}
	
.top_links_right a:link, .top_links_right a:visited {color:#666666;
	text-decoration:none;}

.top_links_right ul {font-size:11px;}
	
.top_links_right ul li {background:url(../images/bullet.gif) left no-repeat;
	display:inline;
	padding:0px 10px;}

#search label {display:none;}

#search input#search {color:#20489F;
    font-size:10px;
    font-size:0.9em;
    text-indent:2px;
    border:1px solid #A4A7A8;
    background-color:#FFFFFF;
    width:160px;
    margin:3px 5px 0px 0px;}

#search input#go {width:45px;
    height:25px;
	vertical-align:middle;
	background:transparent url(../images/search.png) top left no-repeat;
    cursor:pointer;
	padding:0px 2px 2px 2px;
	border:0;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/search.png', sizingMethod='scale');}

/* HORIZONTAL ACCORDION */

#horizontal_container {width:auto;
	height:45px;
	background:url(../images/greenbg.jpg) top left repeat-x;
	padding:0;}
	
.horizontal_accordion_toggle, .horizontal_accordion_toggle_active {
	height:45px;
	float:left;	
	display:inline;
	margin:0;
	padding:0;}

.horizontal_accordion_toggle h4.individuals, .horizontal_accordion_toggle h4.business, .horizontal_accordion_toggle h4.test, .horizontal_accordion_toggle h4.end {
	cursor:pointer;
	float:left;
	display:inline;
	margin:0;
	line-height:100%;
	color:#ffffff;
	font-size:12px;}
	
.horizontal_accordion_toggle h4.individuals {
	width:68px;
	padding:17px 15px 16px 15px;
	background:url(../images/toggle-blue.gif) top left no-repeat;}
	
.horizontal_accordion_toggle h4.test {
	width:68px;
	padding:5px 15px 4px 15px;
	background:url(../images/toggle-gold.gif) top left no-repeat;}	
	
.horizontal_accordion_toggle h4.business {
	width:67px;
	padding:11px 15px 10px 15px;
	background:url(../images/toggle-green.gif) top left no-repeat;}	
	
.horizontal_accordion_toggle h4.end {
	width:15px;
	height:45px;
	background:url(../images/green-curve.jpg) top left no-repeat;
	cursor:default;}	
	
.horizontal_accordion_toggle_active h4.individuals, .horizontal_accordion_toggle_active h4.test, .horizontal_accordion_toggle_active h4.business {
	cursor:default;
	float:left;
	display:inline;
	margin:0;
	line-height: 100%;
	width:80px;
	color:#ffffff;;
	font-size:12px;}
	
.horizontal_accordion_toggle_active h4.individuals {
	padding:17px 15px 16px 15px;
	background:url(../images/toggle-active-blue.gif) top left no-repeat;}
	
.horizontal_accordion_toggle_active h4.test {
	padding:5px 15px 4px 15px;
	background:url(../images/toggle-active-gold.gif) top left;}
	
.horizontal_accordion_toggle_active h4.business {
	padding:11px 15px 10px 15px;
	background:url(../images/toggle-active-green.gif) top left no-repeat;}	

.horizontal_accordion_content, .horizontal_accordion_content2, .horizontal_accordion_content3 {
	min-height:45px;
	float:left;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;}

.horizontal_accordion_content {background:url(../images/bluebg.jpg) top left repeat-x;}

.horizontal_accordion_content2 {background:url(../images/goldbg.jpg) top left repeat-x;}

.horizontal_accordion_content3 {background:url(../images/greenbg.jpg) top left repeat-x;}

.horizontal_accordion_content ul, .horizontal_accordion_content2 ul, .horizontal_accordion_content3 ul {
	width:454px;
	min-height:45px;
	list-style-type:none;
	line-height:100%;
	float:left;
	display:inline;
	position:relative;
	z-index:9999;
	margin:0;
	padding:0;}

.horizontal_accordion_content ul {background:url(../images/bluebg-link.jpg) top right repeat-x;}

.horizontal_accordion_content2 ul {background:url(../images/goldbg-link.jpg) top right repeat-x;}

.horizontal_accordion_content3 ul {background:url(../images/greenbg-link.jpg) top right repeat-x;}

.horizontal_accordion_content ul li, .horizontal_accordion_content2 ul li, .horizontal_accordion_content3 ul li {margin:0;
	padding:0 0 0 2px;
	min-height:45px;
	float:left;
	line-height:100%;
	display:inline;
	position:relative;
	font-size:11px;}
	
.horizontal_accordion_content ul li {
	background:url(../images/blue-vline.jpg) top left no-repeat;}

.horizontal_accordion_content2 ul li {
	background:url(../images/gold-vline.jpg) top left no-repeat;}

.horizontal_accordion_content3 ul li {
	background:url(../images/green-vline.jpg) top left no-repeat;}

a.parentmenu, a.parentmenu:visited, a.parentmenu:hover, a.parentmenu:active {
	margin:0;
	padding:10px;
	height:25px;
	display:inline;
	float:left;
	color:#FFFFFF;
	font-weight:bold;
	line-height:110%;
	text-decoration:none;
	overflow:hidden;}
	
.horizontal_accordion_content a.parentmenu:hover, .horizontal_accordion_content a.parentmenu:active {
	background:url(../images/bluebg-link-active.gif);
	color:#0F3994;}
	
.horizontal_accordion_content2 a.parentmenu:hover, .horizontal_accordion_content2 a.parentmenu:active {
	background:url(../images/goldbg-link-active.gif);
	color:#7A610F;}
	
.horizontal_accordion_content3 a.parentmenu:hover, .horizontal_accordion_content3 a.parentmenu:active {
	background:url(../images/greenbg-link-active.gif);
	color:#0F6057;}
	
.horizontal_accordion_content ul.sub li a, .horizontal_accordion_content ul.sub li a:visited, .horizontal_accordion_content ul.sub li a:hover, .horizontal_accordion_content ul.sub li a.active {
	color:#4160A7;}

.horizontal_accordion_content2 ul.sub li a, .horizontal_accordion_content2 ul.sub li a:visited, .horizontal_accordion_content2 ul.sub li a:hover, .horizontal_accordion_content2 ul.sub li a.active {
	color:#9B8545;}

.horizontal_accordion_content3 ul.sub li a, .horizontal_accordion_content3 ul.sub li a:visited, .horizontal_accordion_content3 ul.sub li a:hover, .horizontal_accordion_content3 ul.sub li a.active {
	color:#488F82;}

/* DROP DOWN SUBMENUS */

ul.sub {width:auto;
	background:#FBDA96;
	display:none;
	list-style:none;
	position:absolute;
	padding:0;
	margin:39px 2px 0 0;}

ul.sub li {min-height:10px;
	background:none;
	float:left;
	display:block;
	position:relative;
	font-size:11px;
	padding:0;
	margin:0 0 -1px 0;}

/** Professional Liability Insurance - MENU ITEM **/

li.prof a.parentmenu:link, li.prof a.parentmenu:visited, li.prof a.parentmenu:hover, li.prof a.parentmenu:active {width:100px;}

li.prof ul li a:link, li.prof ul li a:visited, li.prof ul li a:hover, li.prof ul li a:active {
	width:108px;
	min-height:15px;
	display:block;
	font-weight:bold;
	text-decoration:none;
	margin:0;
	padding:6px;}

li.prof ul li a:hover, li.prof ul li a:active {width:108px;
	display:block;
	background:#FCE9C1;}

/** Personal Insurance Resources - MENU ITEM **/

li.personal a.parentmenu:link, li.personal a.parentmenu:visited, li.personal a.parentmenu:hover, li.personal a.parentmenu:active {width:86px;}

li.personal ul li a:link, li.personal ul li a:visited, li.personal ul li a:hover, li.personal ul li a:active {width:94px;
	min-height:15px;
	display:block;
	font-weight:bold;
	text-decoration:none;
	margin:0;
	padding:6px;}

li.personal ul li a:hover, li.personal ul li a:active {width:94px;
	display:block;
	background:#FCE9C1;}
	
/** Risk Management Resources - MENU ITEM **/

li.risk a.parentmenu:link, li.risk a.parentmenu:visited, li.risk a.parentmenu:hover, li.risk a.parentmenu:active {width:100px;}

li.risk ul li a:link, li.risk ul li a:visited, li.risk ul li a:hover, li.risk ul li a:active {
	width:108px;
	min-height:15px;
	display:block;
	font-weight:bold;
	text-decoration:none;
	margin:0;
	padding:6px;}

li.risk ul li a:hover, li.risk ul li a:active {width:108px;
	display:block;
	background:#FCE9C1;}
	
/** Customer Service - MENU ITEM **/

li.customer a.parentmenu:link, li.customer a.parentmenu:visited, li.customer a.parentmenu:hover, li.customer a.parentmenu:active {width:80px;}

li.customer ul li a:link, li.customer ul li a:visited, li.customer ul li a:hover, li.customer ul li a:active {
	width:80px;
	min-height:15px;
	display:block;
	font-weight:bold;
	text-decoration:none;
	margin:0;
	padding:6px 10px;}

li.customer ul li a:hover, li.customer ul li a:active {width:80px;
	display:block;
	background:#FCE9C1;}
	
/** Request a Quote - MENU ITEM **/

li.request a.parentmenu:link, li.request a.parentmenu:visited, li.request a.parentmenu:hover, li.request a.parentmenu:active {
	width:94px;
	height:15px;
	padding:15px 6px;}
	
/** Accordion Filler - MENU ITEM **/

li.fill {width:330px;
	height:15px;
	background:url(../images/goldbg-link.jpg) top right repeat-x;
	padding:15px 6px;}